.DS_Store

build/*
*/build/*

pjmedia/lib/*
pjmedia/bin/*

pjnath/lib/*
pjnath/bin/*

pjsip-apps/lib/*
pjsip-apps/bin/*

third_party/lib/*
third_party/bin/*

pjlib/lib/*
pjlib/bin/*

pjlib-util/lib/*
pjlib-util/bin/*

pjsip/lib/*
pjsip/bin/*

tags
*.log
build.mak
config.status

xcuserdata
